@import "tailwindcss";
@import "tw-animate-css";

@custom-varient dark (&:is(dark *));

:root{
    --background: oklch(1 0 0);
    --foreground: oklch(0.35 0 0);
    --card: oklch(0.98 0 0);
    --card-foreground: oklch(0.35 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.35 0 0);
    --primary:oklch(0.45 0.15 160);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.96 0 0);
    --secondary-foreground: oklch(0.35 0 0);
    --muted: oklch
}